.player-button {
    color: white;
    border-style: none;
    background-color: transparent;
    font-size: 126%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 9px;
    margin-left: 6px;
    width: 20px;
    outline: none;
}

.full-screen-button {
  color: white;
  border-style: none;
  background-color: transparent;
  font-size: 126%;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 13px;
  margin-left: 4px;
  width: 20px;
  outline: none;
}

.button-place {
  width: auto;
  height: 50px;
  background-color: black;
  display: flex;
}

.player-base {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.712);
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 auto;
  width: 800px;
  height: 600px;
}

.button-space {
  display: inline-block;
  flex-grow: 1;
}

.js-current-time {
  color: white;
  margin-left: 6px;
  margin-right: 10px;
  margin-top: 18px;
  font-family: 'Roboto', sans-serif;
}

.js-duration {
  color: white; 
  font-family: 'Roboto', sans-serif;
  margin-top: 18px;
  margin-left: 10px;
}

.js-progress {
  background-color:black;
  height: 18px;
  margin-top: 16px;
  flex: 1;
  display: flex;
}

.js-progress-slider {
  background-color: red;
  height: 5px;
  margin-top: 9px;
  border-radius: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  margin-top: 5px;
  margin-left: -8px;
  opacity: 0;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.js-progress:hover .dot {
  opacity: 6;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}